@charset "UTF-8";
/* CSS Document */
.navbar-custom{padding:5px 0; box-shadow: none;}
.logo-box{height: 56px;}
.login{ text-align:center; }
.login .container-fluid{max-width:100%; padding:0;}
.container-login100 {
	width: 100%;  
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0;
  }
.container-login200 {
	background: #f4f4f4;
	align-items:baseline !important;
	min-height: auto !important;
	padding: 50px 0;
}

  
  .wrap-login100 {
	width: 80%;
	background: #fff;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	flex-direction: row-reverse;
	min-height: 80vh;
  
  }
  .wrap-login100::after {
	content: "";
    background: url("../images/airplane.png") no-repeat center;
	background-size: contain;
	display: block;
	position: absolute;
	width: 100%;
	height: 70vh;
	top: 45%;
	left: -15%;
	z-index: 1;
	
  }
.wrap-login200::after {
	content: "";
    background: none;
	background-size: contain;
	display: block;
	position: absolute;
	width: 100%;
	height: 60vh;
	top: 15%;
	left: -15%;
	z-index: 1;
}

	.wrap-login200 {
	-webkit-box-shadow: 6px 6px 9px -6px rgba(0,0,0,0.17);
    -moz-box-shadow: 6px 6px 9px -6px rgba(0,0,0,0.17);
    box-shadow: 6px 6px 9px -6px rgba(0,0,0,0.17);

	
  }
  /*==================================================================
  [ login more ]*/
  .login100-more {
	width: 50%;
	background: #3c5fa6;
	position: relative;
	z-index: 1;
	color: #FFF;
	padding: 25px;
  }
.login200-more 
{    background: url("../images/bg-indian-navy-login.jpg") no-repeat center;
	padding: 0!important;
	background-size: cover;
}
.login200-more h2 {
	margin-top: 50px;
}
  .login100-more h2{margin-bottom: 0;}
  .login100-more h3{margin-top:5px; font-weight: lighter;}
  .login100-more::before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	
  }
  

  
  /*==================================================================
  [ Form ]*/
  .login-wrapper{
	width: 50%;
	z-index: 9999;
  }
  .login100-form {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	padding: 10% 15% 15% 20%;
	justify-content:center;
  }
  

  .login100-form-title {
	display: block;
	font-size: 20px;
	color: #333333;
	line-height: 1.2;
	text-align: center;
	font-weight: 700;
	margin-bottom: 100px;
  }
  
  .login100-form-avatar {
	display: block;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
  }
  
  .login100-form-avatar img {
	width: 100%;
  }
  
  /*------------------------------------------------------------------
  [ Input ]*/
  input {
	outline: none;
	border: none;
}
  .wrap-input100 {
	width: 100%;
	position: relative;
	border-bottom: 2px solid #d9d9d9;
	height: 50px;
	text-align: left;
	margin-bottom: 25px;
  }
  
  .input100 {
	font-family: Poppins-SemiBold;
	font-size: 18px;
	color: #555555;
	line-height: 1.2;
  
	display: block;
	width: 100%;
	height: 52px;
	background: transparent;
	padding: 0 5px;
  }
  
  /*---------------------------------------------*/ 
  .focus-input100 {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
  }
  
  .focus-input100::before {
	content: "";
	display: block;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 0;
	height: 2px;
  
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
  
	background: #57b846;
  }
  
  .focus-input100::after {
	font-family: Poppins-Medium;
	font-size: 18px;
	color: #999999;
	line-height: 1.2;
  
	content: attr(data-placeholder);
	display: block;
	width: 100%;
	position: absolute;
	top: 15px;
	left: 0px;
	padding-left: 5px;
  
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
  }
  
  .input100:focus + .focus-input100::after {
	top: -20px;
	font-size: 15px;
  }
  
  .input100:focus + .focus-input100::before {
	width: 100%;
  }
  
  .has-val.input100 + .focus-input100::after {
	top: -20px;
	font-size: 15px;
  }
  
  .has-val.input100 + .focus-input100::before {
	width: 100%;
  }
  
  
  /*------------------------------------------------------------------
  [ Button ]*/
  .container-login100-form-btn {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  .login100-form-btn {
	font-size: 16px;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
	margin-top: 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	width: 100%;
	height: 50px;
	background-color: #e9691d;
	border-radius: 25px;
	border: none;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
  }
  
  .login100-form-btn:hover  {
	background-color: #333333;
  }
  
/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
	position: relative;
  }
  
  .alert-validate::before {
	content: attr(data-validate);
	position: absolute;
	max-width: 70%;
	background-color: #fff;
	border: 1px solid #c80000;
	border-radius: 2px;
	padding: 4px 25px 4px 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0px;
	pointer-events: none;
  
	font-family: Poppins-Regular;
	color: #c80000;
	font-size: 13px;
	line-height: 1.4;
	text-align: left;
  
	visibility: hidden;
	opacity: 0;
  
	-webkit-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	transition: opacity 0.4s;
  }
  
  .alert-validate::after {
	content: "\f06a";
	font-family: FontAwesome;
	font-size: 16px;
	color: #c80000;
  
	display: block;
	position: absolute;
	background-color: #fff;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 5px;
  }
  
  .alert-validate:hover:before {
	visibility: visible;
	opacity: 1;
  }
  #carouselControls{background:#FFF; display: grid; justify-content: center; align-items: center; height: 50px;}
  .carousel-control-next, .carousel-control-prev{width:20px !important; height: 20px !important; font-size: 12px; border-radius: 25px; background: blue; vertical-align: middle; margin-top: 20px;}
  .carousel-control-next-icon, .carousel-control-prev-icon{width: 10px; height: 10px;} 
  .carousel-control-next{margin-right: 20px;}
  .carousel-control-prev{margin-left: 20px;}
  @media (max-width: 1024px) {
	.wrap-login100::after{width: 50%;
		height: 60vh;
		top: 15%;
		left: 10%;}
  }
  @media (max-width: 992px) {
	.wrap-login100{
		flex-direction:column-reverse;
		min-height:auto;
		margin:20px;
	}
	.container-login100{min-height: auto;}
	.login-wrapper{margin: 0 auto;}
	.wrap-login100::after{content: none;}
	.login100-form {
	  width: 100%;
	  padding-left: 30px;
	  padding-right: 30px;
	}
  
	.login100-more {
	  width: 100%;
	}
  }
  
  @media (max-width: 768px) {
	.login100-form {
	  width: 100%;
	}
  
	.login100-more {
	  width: 100%;
	}
  }
  
  @media (max-width: 576px) {
	.login-wrapper{width: 100%;}

	.login100-form {
	  padding-left: 15px;
	  padding-right: 15px;
	  padding-top: 35px;
	}
  
	.rs1-wrap-input100,
	.rs2-wrap-input100 {
	  width: 100%;
	}
  
	.rs2-wrap-input100 {
	  border-left: 1px solid #e6e6e6;
	}
  }
  

.login {padding-top:65px;}


  .container-login100{height: 75vh; min-height: auto; }
  .wrap-login100{margin:3%; width:60%;height:60vh; min-height: auto; margin-top: 22vh;}
  .wrap-login100::after{height:40vh; left:-10%;}
  .container-login200{padding:0;}